.heading2Xl {
    font-family: SpaceGrotesk, sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
}

.headingXl {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 800;
    margin: 1rem 0;
}

.headingLg {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-family: AppleGaramond, serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.itemTitle {
    font-family: AppleGaramond, serif;
    font-size: 1.3rem;
    line-height: 1.6;
}

.itemDate {
    line-height: 2;
    color: #666;
}

.itemDesc {
    line-height: 1.6;
}