.th-rank {
    width: 4rem;
    justify-content: space-between;
}

.interchange-checkbox {
    display: none;
}

.interchange-checkbox:checked+.interchange-label {
    font-weight: bold;
    color: #fd681d;
    stroke: #fd681d;
    stroke-width: 1;
}

.interchange-label:focus,
.interchange-label:hover {
    color: #cc4502 !important;
    cursor: pointer;
}