@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../assets/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
  font-weight: 800;
  font-style: black;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter/Inter-Regular.ttf');
  font-weight: 400;
  font-style: black;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter/Inter-Bold.ttf');
  font-weight: 600;
  font-style: black;
}

@font-face {
  font-family: 'AppleGaramond';
  src: url('../assets/AppleGaramond/AppleGaramond-BoldItalic.ttf');
  font-weight: 600;
  font-style: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16Zzpx;
}

i {
  font-family: AppleGaramond;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}