.heading2Xl {
  font-family: SpaceGrotesk;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.headingXl {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 800;
  margin: 1rem 0;
}

.headingLg {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-family: AppleGaramond;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 10px;
}

.listItem {
  margin: 0 0 1.25rem;
}

.listThumbnail {
  display: flex;
  height: 12rem;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.listTitle {
  line-height: 1.6;
}

.listDate {
  line-height: 2;
  color: #666;
}

.listDesc {
  line-height: 1.6;
}

