* {
    font-family: Arial;
    font-size: 1rem;
}

.column {
    float: left;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: none;
}

tbody tr:hover {
    color: #212529;
    background-color:rgba(0, 0, 0, 0.075);
}

th {
    padding: 8px 8px 8px 4px;
}

td {
    padding: 8px 8px 8px 4px;
    border-top: 1px solid #dee2e6;
}

input[type=text], select {
    line-height: 1.375;
    padding: .625rem .75rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: background-color 0.15s, ease-in-out, box-shadow .15s ease-in-out;
  }

button {
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .625rem .75rem;
    
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.submitDecisionBtn, #finaliseDecisionBtn {
    color: #fff;
    line-height: 1.375;
    background-color: #00bf8a;
    border-color: #00bf8a;
}

.deleteBtn {
    color: #663da0;
    border: 1px solid transparent;
}

